#label_help {
  position: relative;
  padding-left: 20px;
  top: 10px;
  font-size: 13px;
  color: thistle;
  text-align: left;
  pointer-events: none;
}

#elements_for_file_manager p {
  font-size: 25px;
  font-weight: bold;
}